doctype html

html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='')
        meta(name='author', content='Lars Winter')
        meta(name='apple-mobile-web-app-capable' content='yes')
        link(href='/thirdparty/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/css/rcswitch-rpi.css' rel='stylesheet')

    body

        block content

        script(src='/thirdparty/jquery/jquery.min.js')
        script(src='/thirdparty/bootstrap/js/bootstrap.min.js')
        script(src='/thirdparty/underscore-min.js')
        script(src='/thirdparty/backbone-min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascript/rcswitch-rpi.js')